@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

       
            <ul class="loginpartial">
                <li style="list-style-type: none;">
                    @Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "accountlink" })
                </li> 
                <li style="list-style-type: none; "><a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
            </ul>
        }
    }

       else
        {
    <ul class="loginpartial">
        <li  > @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "registerlink" }) </li>
        <li >@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "loginlink" })</li>
    </ul>
        }
    
