@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/style1.css")
<section class="section-white">
    <div class="containerX">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/Slide1.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>Liverpool Travels with Us!</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/Slide2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>Sunsets feel better on the way...</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/Slide3.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>We bring all Bulgaria a step closer!</h2>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</section>