
@{
    ViewBag.Title = "Confirmed";
}




<div class="container body-content">
    
    <body>
        <h2 style="text-align: center; margin-top: 10%">Confirmed</h2>

        <img src="~/Content/Images/Confirmed.png" alt="" style="margin: auto; display: block; width: 40%;">
        Your Booking Was Placed Successfully.


        @Html.ActionLink("Back to Trips", "Index")


    </body>

</div>









